ul {
    list-style-type: none;
    font-family: "Harmattan", sans-serif;
}

ul li:before {
    content: '- ';
    margin-left: -2.3rem;
}

li {
    margin-bottom: 2rem;
    margin-right: 0.2rem;
}

a {
    text-decoration: none;
    color: var(--TEXT-COLOR)
}